<h1>Listing batmen</h1>

<table>
  <tr>
  </tr>

<% @batmen.each do |batman| %>
  <tr>
    <td><%= link_to 'Show', batman %></td>
    <td><%= link_to 'Edit', edit_batman_path(batman) %></td>
    <td><%= link_to 'Destroy', batman, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New batman', new_batman_path %>